
/* ---------------------------------------------------
    Main CSS Doc For In App Views
----------------------------------------------------- */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900";

body {
    font-family: 'Poppins', sans-serif !important;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    text-align: center;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    height: 50px !important;
    margin-top: 10px !important;
    padding: 10px 10px !important;
    background: #fff !important;
    border: none !important;
    border-radius: 2px !important;
    margin-bottom: 20px !important;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) !important;
}

.navbar-btn {
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.nav {
    padding-top: 12px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: space-between;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  
.nav li a {
    display: block;
    color: #7386D5;
    text-align: center;
    padding: 7px;
    padding-left: 67px;
    padding-right: 67px;
    text-decoration: none;
  }
  
.nav li a:hover {
    background-color: #7386D5;
  }

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#navheader {
    padding: 20px;
    justify-content: right !important;
    text-decoration: none;
}

#navheader a:hover {
    background-color: #888a8b;
    height: 50px;
    color: black;
}

#navheader p {
    font-weight: 700;
    margin: 0;
}

#navheader a {
    margin-left: 30px;
    font-weight: 700;
    padding-left: 30px;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    color: cadetblue;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #68696e;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    background: cadetblue;
    font-weight:600;
}

#sidebar ul.components {
    padding-top: 9px;
    border-bottom: 1px solid #888a8b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar li {
    margin-bottom: 5px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: cadetblue;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    margin-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.download:hover {
    background-color: cadetblue !important;
    color: #fff !important;
}

a.article {
    background: cadetblue !important;
    color: #fff !important;
}

a.article:hover {
    color: black !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}


#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}
 


/* ---------------------------------------------------
    DASHBOARD
----------------------------------------------------- */

.subtitle {
    margin: 0;
    font-size: 1.4em;
    color: rgb(201, 204, 207) !important;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.order-card {
    color: #fff;
}

#big {
    background: linear-gradient(45deg,#af77b1,#af95cc);
    width: 620px;
    height: 450px;
    padding-left: 30px;
    padding-right: 30px;
}

#big h6 {
    text-align: left !important;
}

.bg-c-blue {
    background: linear-gradient(45deg,#6b7e93,#80a1b1);
}

.bg-c-green {
    background: linear-gradient(45deg,#99b177,#99cc95);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#f8cb8b,#cab79e);
}

.bg-c-pink {
    background: linear-gradient(45deg,#fc90a2,#c47a86);
}

.card {
    padding-left: -50px;
    padding-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 10px 24px 6px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.order-card i {
    font-size: 28px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
    padding-left: 5px;
    font-size: medium;
}

.col {
    width: 100%;
    padding: 0;
    margin: 0;
}

.row {
    margin-left: -65px;
}

.m-b-20 {
    font-size: 1.1em !important;
    padding-bottom: 15px;
    font-weight: 500;
    text-align: center;
}

.m-b-0 {
    padding-top: 30px;
    margin: 0;
    color: #333333;
}
